<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Compétences R&T</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css">
        <style>
            body {
                background-color: #012b36;
                color: white;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
                font-size: 16px;
            }
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }
            th {
                background-color: #343a40;
                color: white;
            }
            tr:nth-child(even) {
                background-color: #0a4f5a;
            }
            tr:hover {
                background-color: #276d77;
            }
            .table-container {
                margin: 30px;
            }
            footer {
                text-align: center;
                padding: 1rem;
                background-color: #343a40;
                color: #ffffff;
                position: fixed;
                bottom: 0;
                width: 100%;
            }
            .portfolio-btn {
                display: block;
                margin: 30px auto;
                text-align: center;
            }
            /* Conteneur pour l'image avec une hauteur fixe */
            .image-container {
                width: 50%;
                height: auto;
                overflow: hidden;
                border-radius: 0.25rem;
                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Mon Site</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" href="/fauritte">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cv">CV</a></li>
                        <li class="nav-item"><a class="nav-link" href="/portfolio">E-Portfolio</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="container">
            <h1 class="text-center my-4">Compétences R&T</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Compétences</th>
                            <th>Apprentissage critique</th>
                            <th>Niveau d'acquisition</th>
                            <th>Preuve</th>
                            <th>Analyse réflexive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>RT1 - Administrer les réseaux et l'Internet</td>
                            <td>AC11.01 Maîtriser les lois fondamentales de l'électricité et intervenir sur les équipements de réseaux</td>
                            <td>2/4</td>
                            <td><a href="AC11.01.docx" target="_blank">r113 r114</a></td>
                            <td><a href="analyse1.docx" target="_blank">Analyse 1</a></td>
                        </tr>
                        <tr>
                            <td>RT1 - Administrer les réseaux et l'Internet</td>
                            <td>AC11.02 Comprendre l'architecture des systèmes numériques</td>
                            <td>3/4</td>
                            <td><a href="AC11.02.docx" target="_blank">r102</a></td>
                            <td><a href="analyse2.docx" target="_blank">Analyse 2</a></td>
                        </tr>
                        <tr>
                            <td>RT2 - Connecter les entreprises et les usagers</td>
                            <td>AC12.01 Caractériser des systèmes de transmissions élémentaires</td>
                            <td>4/4</td>
                            <td><a href="AC12.01.docx" target="_blank">r114</a></td>
                            <td><a href="analyse7.docx" target="_blank">Analyse 7</a></td>
                        </tr>
                        <tr>
                            <td>RT3 - Créer des outils et applications informatiques pour les R&T</td>
                            <td>AC13.06 S’intégrer dans un environnement collaboratif</td>
                            <td>4/4</td>
                            <td><a href="AC13.06.docx" target="_blank">r107</a></td>
                            <td><a href="analyse17.docx" target="_blank">Analyse 17</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Button to full portfolio -->
            <div class="portfolio-btn">
                <a href="https://docs.google.com/spreadsheets/d/1l6JO4G0v9GpYbKHrcXVuWhsBEEujKA7Oh-9oKB9Wm_w/edit?usp=drive_link" 
                   class="btn btn-success btn-lg" 
                   target="_blank">Voir le portfolio complet</a>
            </div>
            <div class="image-container">
                    <img src="{{ asset('mooc.jpg') }}" alt="certification" class="img-fluid">
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <p>&copy; 2025 Mon Site. Tous droits réservés. Aucune copie autorisée.</p>
        </footer>
    </body>
</html>

