<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home page{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css">
        {% block stylesheets %}
        {% endblock %}
        <style>
            body {
                background-color: #012b36;
                color: white;
            }
            footer {
                text-align: center;
                padding: 1rem;
                background-color: #343a40;
                color: #ffffff;
                position: fixed;
                bottom: 0;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">My website</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" href="/fauritte">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cv">CV</a></li>
                        <li class="nav-item"><a class="nav-link" href="/portfolio">E-Portfolio</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Informations personnelles -->
        <div class="container my-5">
            <h1>Fauritte Martin</h1>
            <h3>Group: B1</h3>
            <p>Welcome to my personal page. I have a strong passion for computers and astronomy, and I'm always curious to explore new knowledge.</p>
        </div>

        <!-- Section "Pour en savoir plus" -->
        <div class="container bg-secondary text-white p-4 rounded">
            <h2>Find out more</h2>
            <p>Discover my hobbies, passions, desires and projects.</p>
            <a class="btn btn-light" href="/photos">see more</a>
        </div>

        <!-- Footer -->
        <footer>
            <p>&copy; 2025 Mon Site. Tous droits réservés. Aucune copie autorisée.</p>
        </footer>
    </body>
</html>


